.emp-action{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
.breadcrumb{
  padding-top: 10px;
}
.form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
